{% extends "layouts/index.html" %} {% block content %}
<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Tambah Kategori</h1>
  <p class="mb-4">Packclese</p>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Tambah Kategori</h6>
    </div>
    <div class="card-body">
      <!-- form start -->
      <form action="" method="POST">
        {% csrf_token %}

        <!-- input nama_kategori -->
        <div class="form-group">
          <label for="id_nama_kategori">Nama</label>
          <input
            type="text"
            name="nama_kategori"
            class="form-control {% if form.errors.nama_kategori %}is-invalid{% endif %}"
            value="{{ kategori.nama_kategori }}"
            placeholder="Nama Kategori"
            required
            id="id_nama_kategori"
          />
          {% for error in form.errors.nama_kategori %}
          <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>
        <!-- end input nama_kategori -->

        <!-- button submit -->
        <div class="form-group">
          <div class="text-left">
            <button type="submit" class="btn btn-success">Edit</button>
          </div>
        </div>
        <!-- end button submit -->
      </form>
      <!-- end form -->
    </div>
  </div>
</div>
{% endblock %}
